<!-- Base public template that is used for all public pages in prototype -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- TITLE ICON -->
    <link rel="icon" href="../../../static/img/hh-title-icon.png" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@100;200;400&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:wght@300;400&family=Poppins:wght@200;300&family=Raleway:wght@300;400&family=Roboto+Slab:wght@300;400&family=Roboto:wght@100;300;400&display=swap"
      rel="stylesheet"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light fixed-top">
      <div class="container">
        <a href="/" class="navbar-brand">
          <img src="../../../static/img/HH-logo.png" alt="HH Logo" />
          HH</a
        >

        <button
          class="navbar-toggler float-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar9">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/resources">Resources</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link" href="/admin/dashboard">Admin</a>
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link" href="/register">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="navbar-collapse collapse" id="navbar9">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-auto">
          <a class="nav-link" href="/admin/dashboard">Admin</a>
        </li>
      </ul>
    </div>

    <main>{% block main %} {% endblock %}</main>

    <footer>
      <div class="links">
        <h5>
          <a href="https://www.odu.edu/" target="_blank"
            >Old Dominion University</a
          >
        </h5>
        <h5>
          <a href="https://www.odu.edu/" target="_blank">ODU CS Department</a>
        </h5>
        <h5><a href="https://www.cs.odu.edu/~411green/" target="_blank">Copyright © Team Green Fall 2022</a></h6>
      </div>
    </footer>

    <!-- <footer>
      <div class="links">
        <h3>
          <a href="https://www.odu.edu/" target="_blank"
            >Old Dominion University</a
          >
        </h3>
        <h3>
          <a href="https://www.odu.edu/" target="_blank">ODU CS Department</a>
        </h3>
        <h5>Copyright © Team Green Fall 2022</h5>
      </div>
    </footer> -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
