{% extends "./public/templates/public_template.html" %}

{% block title %}Helping Hands | Volunteer Select {% endblock %}

{% block main %}
<h1 id="title">Volunteer Select {{ myTitle}} </h1>
  
    <form id="survey-form">
      <div class="form-group">
      <label id="name-label" for="name">Name:</label>
      <input id="name" type="text" required placeholder="First Name">
      <span class="validity"></span>
      </div>     
      
      <div class="form-group">
      <label id="name-label" for="name">Zipcode: </label>
      <input id="name" type="text" required placeholder="5 Digit Zipcode">
      <span class="validity"></span>
      </div>
      
      <div class="form-group">
        <input id="submit" class="button" type="submit" value="Get Device Location">
      </div>
     
      <div class="form-group">       
      <p>Where would you like to volunteer? <br>(Check all that apply)</p>
      <div class="input-group">
        <ul>
            <li><input type="checkbox" name="improvements" value="food"> Food</li>
            <li><input type="checkbox" name="improvements" value="shelter"> Shelter</li>
            <li><input type="checkbox" name="improvements" value="medicine"> Medicine</li>
            <li><input type="checkbox" name="improvements" value="mentalHealth"> Mental Health</li>
            <li><input type="checkbox" name="improvements" value="addiction"> Addiction</li>
        </ul>
    </div>
      </div>
    
     
      <div class="form-group">
      <input id="submit" class="button" type="submit" value="Search">
      </div>
    </form>
{% endblock %}