{% extends "public/base_template/public_template.html" %}

{% block title %}Helping Hands | Help Me{% endblock %}

{% block main %}
    <h1 id="title">Help Is On The Way!</h1>
    <hr>

    <form id="survey-form">

        <div class="form-title">
            <h3>Please provide us more information to allow us to help you better.</h3>
        </div>
    <div class="form-group">
      <label id="name-label" for="name">First Name: </label>
      <input id="name" type="text" required placeholder="First Name">
      <span class="validity"></span>
    </div>

    <div class="form-group">
      <label id="name-label" for="name">Last Name: </label>
      <input id="name" type="text" required placeholder="Last Name">
      <span class="validity"></span>
    </div>
      
    <div class="form-group">       
        <label id="textarea-label" for="comments">Please provide any additional information that we should know.</label>
        <textarea id="comments" placeholder="Enter additional information here ..."  cols="30" rows="5"></textarea>
    </div>
    
    <div class="form-group">
        <input id="submit" class="submit-btn" type="submit" value="SUBMIT">
    </div>
      
    </form> 
{% endblock %}
