{% extends "public/base_template/public_template.html" %}

{% block title%} Jinja {% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Jinja Template</h1>
            <hr>

            <h4>Variables</h4>
            <hr>
            <p>Name: {{ my_name }}</p>

            <h4>Looping</h4>
            <hr>
                <ul>
                    {% for lang in langs %}
                    <li>
                        {{lang}}
                    </li>
                    {% endfor %}
                </ul>

            <h4>Looping with Index</h4>
            <hr>
                <ul>
                    {% for lang in langs %}
                    <li>
                        {{ loop.index }}: {{lang}}
                    </li>
                    {% endfor %}
                </ul>

                <h4>Looping a Dictionary</h4>
                <hr>
                <ul>
                    {% for k, v in friends.items() %}
                    {{k}}
                    <li>
                        {{v}}
                    </li>
                    {% endfor %}
                </ul>

                <h4>Access List Member</h4>
                <hr>
                <p>{{ langs[0] }}</p>

                <h4>Access Dict Member</h4>
                <hr>
                <p>{{ friends["Tom"] }}</p>

                <h4>Access Dict Member</h4>
                <hr>
                <p>{{ repeat("TEST ", 10) }}</p>

        </div>
    </div>
</div>

{% endblock %}