{% extends "public/base_template/public_template.html" %} {% block title
%}Helping Hands | Log In{% endblock %} {% block main %}

<br>
<br>
<br>
<br>
<br>

<div class="register-form">
  <div class="wrapper">
    <div class="title-text">
      <div id="user-title" class="title login">Login</div>
    </div>
    <div class="form-container">
      <div class="form-inner">
        <form action="#" class="login">
          <div class="field">
            <input type="email" placeholder="Email Address" name='email' required />
          </div>
          <div class="field">
            <input type="password" placeholder="Password" name='password' required />
          </div>

          <div class="signup-link">
            No account? <a href="/register">Register now</a>
          </div>
          
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Login" />
          </div>
        </form>

        
      </div>
    </div>
  </div>
</div>

<br />
<br />
<br>
<br>
<br>


{% endblock %}
