{% extends "public/base_template/public_template.html" %}

{% block title %}Helping Hands | Profile{% endblock %}

{% block main %}

<h1 id="title">Profile</h1>

<div class="card">
    <div class="card-body">
        <h4>{{ username }}</h4>
        <hr>
        {% if user %}
        <p><strong>{{ user["name"] }}</strong></p>
        <p class="text-muted">{{ user["bio"] }}</p>
        <p><em>{{ user["twitter"]}} </em></p>
        {% else %}
        <p>User Not Found</p>
        {% endif %}
    </div>
</div>

{% endblock %}