{% extends "public/templates/public_template.html" %}

{% block title %}Helping Hands | Resources{% endblock %}

{% block main %}
  <h1 id="title">Resources</h1>
  <hr>
  <div class="content">
      <div class="searchResults">
        <div class="results">
          <div class="helpName">
            <h3>Addiction:</h3>
            <ul>
              {% for link in resources %}
              <li>
                {{link}}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
